
{% block body %}

<h1> Se connecter </h1>

{{ form_start(form) }}
{{ form_row(form.email, {'label': 'E-mail','attr': {'placeholder': 'Adresse email'}}) }}
{{ form_row(form.motdepasse, {'label': 'Mot de passe','attr': {'placeholder': 'Mot de passe'}}) }}
{{ form_end(form) }}
<button type="submit" class="btn btn-success"> Connexion </button>

{% endblock %}
